<!DOCTYPE html5>
<html>
    <head>
        <link href="./static/styles.css" rel="stylesheet">
        <title>Stock App</title>
    </head>
    <body>
        <h1>Error</h1>
        <div>
            <h4>An error has occurred.</h4>
            <p>You may have entered invalid form data, submitted an empty form, or made too many requests within 1 minute.</p>
            <h4>Error Details:</h4>
            <p>{{error}}</p>
        </div>
        <div>
            <form action="/"><button type="submit">Back</button></form>
        </div>
    </body>
</html>