<!DOCTYPE html5>
<html>
    <head>
        <link href="./static/styles.css" rel="stylesheet">
        <title>Stock App</title>
    </head>
    <body>
        <h1>Stock Spread Analyzer</h1>
        <div>
            <form action="/" method="post">
                <h4>Stock Ticker</h4>
                <input type="text" name="symbol">
                <h4>Start Date</h4>
                <input type="date" name="startdate">
                <h4>End Date</h4>
                <input type="date" name="dt">
                <h4>Swing Duration (days)</h4>
                <input type="number" name="swingduration">
                <button type="submit" onclick="playLoadingGif()">Submit</button>
            </form>
            <form action="/" method="GET"><button type="submit">Clear</button></form>
        </div>
        <div id="loading"><img src="static/loading.gif" alt=""/></div>
        <div>
            <h4>Result:</h4>
            <br/>
            <table>
                <tr>
                    <th>Highest Price</th>
                    <th>Lowest Price</th>
                    <th>Swing</th>
                    <th>Swing %</th>
                    <th>Range</th>
                </tr>
                <tr>
                    <td>{{highest_price}}</td>
                    <td>{{lowest_price}}</td>
                    <td>{{swing}}</td>
                    <td>{{swing_percent}}</td>
                    <td>{{date_range}}</td>
                </tr>
                <tr>
                    <td>{{date_high}}</td>
                    <td>{{date_low}}</td>
                </tr>
            </table>

        </div>
        <script>
            function playLoadingGif(){
                document.getElementById("loading").style.display = "block";   
            }
        </script>
    </body>
</html>